<ul style="margin-left: 100px">
  <li>Familiar with principles of work in IT companies;</li>
  <li>Practical experience in testing processes, Project Life Cycle, Bug Life Cycle;</li>
  <li>Practical experience in functional testing, creation of test documentation design;</li>
  <li>Practical experience with TortoiseGit, GitHub, VisualStudio, VisualStudio Team Service;</li>
  <li>Experience in working with user stories, specification;</li>
  <li>Basic knowledge of Java, C#, Python, HTML, CSS, JS;</li>
</ul>
