<!--The content below is only a placeholder and can be replaced.-->
<header>  
  <h1>My short Portfolio</h1>
  <h5>(Yaroslav Kostiv)</h5>
  <nav class="navDiv"> 
    <button routerLink="./skill" routerLinkActive="active" class="btn btn-primary">Skill</button>
    <button routerLink="./qualities" routerLinkActive="active" class="btn btn-primary">Qualities</button> 
    <button routerLink="./workExperience" routerLinkActive="active" class="btn btn-primary">Work Experience</button>       
  </nav>
</header>

<router-outlet></router-outlet>
